<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>recruitement.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://recruitementapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>recruitementapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RecruitementApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RecruitementApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="RecruitementDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:oxm57oyfk6.database.windows.net,1433;Initial Catalog=RecruitementApi_db;Integrated Security=False;User ID=Schellengers@oxm57oyfk6;Password=P@$$w0rd;Connect Timeout=30;Encrypt=True" Name="Server=tcp:oxm57oyfk6.database.windows.net,1433;Database=RecruitementApi_db;User ID=Schellengers@oxm57oyfk6;Password=P@$$w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:oxm57oyfk6.database.windows.net,1433;Initial Catalog=RecruitementApi_db;Integrated Security=False;User ID=Schellengers@oxm57oyfk6;Password=P@$$w0rd;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RecruitementDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:oxm57oyfk6.database.windows.net,1433;Database=RecruitementApi_db;User ID=Schellengers@oxm57oyfk6;Password=P@$$w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://recruitement.onmicrosoft.com/WebApp-recruitementapi.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>624aa8fb-71d8-4131-8e1c-d98367b82ca6</ADClientAPPID>
    <ADClientPassword />
    <ADReplyUrl>https://recruitementapi.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/recruitement.onmicrosoft.com/wsfed</ADIssuer>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RecruitementDB-Web.config Connection String">
      <ParameterValue>Server=tcp:oxm57oyfk6.database.windows.net,1433;Database=RecruitementApi_db;User ID=Schellengers@oxm57oyfk6;Password=P@$$w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>